RewriteEngine on
#RewriteRule index/* index.php [L]
#RewriteRule ^users.php/(.*)$ users/$1 [L]
#RewriteRule ^(.*)\.php/(.*)$ $1$2 [L]

#PASS <a href = fullscreen image> #Does not work with all this apache rerouting and docker permission stuff :(
#RewriteCond %{REQUEST_URI} /imagecache\.php
#RewriteRule ^imagecache\.php(.*)$ /imagecache/$1 [L,R=301]

RewriteRule profile.php/edit.php profile.php/edit [L,R=301]
RewriteRule profile/edit edit.php [L]


RewriteCond %{THE_REQUEST} ^GET\ /[^?\s]+\.php
RewriteRule ^(.*)\.php$ /$1/ [L,R=301]
RewriteRule (.*)/(.*)$ $1.php [L]


